@import '../../assets/variables';

.button-rules {
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 12px;
    padding: 12px 0;
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
    width: 120px;

    position: absolute;
    bottom: 40px;
    right: 16px;

    cursor: pointer;
}